@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,200;1,500;1,600;1,800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,200;1,500;1,600;1,800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;1,100&family=Righteous&display=swap');


body{
    color: wheat;
    /* color: rgb(33, 37, 41); */
    background-color:  rgb(36, 53, 63);

}

*{
box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::selection{
    background-color:#fec260 ;
    color: #3ca55c;
  }

h1{
    /* margin-top:40; */
    width: fit-content;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 50px;
    color:rgb(23, 162, 184);
    position: relative;
    margin:auto;
    
}
/* 
h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color:ivory;
    transition: height 350ms;
    z-index: -1;
} */

/* h1:hover::before{
    height:57%;
} */

h2{
    color:rgb(33, 37, 41);
    font-family:"Righteous",cursive;
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    margin: auto;
    line-height: 30px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
        
}

button{
    background-color:transparent !important ;
    color: aliceblue !important;
    /* border:!important; */
    border-color:rgb(23, 162, 184)!important;
    color: rgb(23, 162, 184) !important;
    
    width:fit-content !important;
  
transition: all 1s;
}
button:hover{
background-color: rgb(23, 162, 184) !important;
color: white !important;
}

#btn1{
    background-color: #8a9e23!important;
}
#btn1:hover{
    background-color: #9faa66 !important;
    border: 1px solid black !important;
}

#btn2{
    background-color: red !important;
}

#btn2:hover{
    background-color: rgb(173, 5, 5) !important;
    border: 1px solid black  !important;
}

::placeholder { 
    color: rgb(214, 210, 210) !important;;
    /* opacity: .1; */
  }

input{
    background-color: transparent !important;
    color: #fff !important;


}
input:focus{
    box-shadow: none!important;
    /* border-color: rgb(248, 153, 29)!important;   */
}

span{
    background-color: orange;
}

.content{
    width: 63%;
    border: 2px;
    box-shadow: -5px 2px 54px -9px rgb(66, 245, 209);
    /* border-top: 2px black  dotted;
    border-bottom: 2px black  dotted; */

}

.sign{
    font-weight: 400;
    text-align: center;
}

a:hover{
    text-decoration:underline !important;
}
.group {
    box-shadow: -5px 2px 54px -9px rgb(66, 245, 209);
}
/* .navbar {
    position: relative !important;
  
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
     
    justify-content: space-between !important;
    padding: 0.5rem 1rem !important;
} */